/* MAKE DRAGABLE A REGION * THIS DRAG (move) A WOLL WINDOW */
.df-titlebar-dragable {
  -webkit-app-region: drag;
  -webkit-touch-callout: none;
  color: red;
}

.df-titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* DISABLE TEXT SELECTION */
.df-disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TITLE BAR BTN STYLE ICON : 0|1|2|3 */
.df-titlebar-btn {
  -webkit-app-region: no-drag;
  padding: 0.35em 1em;
  cursor: pointer;
  vertical-align: bottom;
  font-family: Webdings;
  font-size: 11pt;
}

/* ******** SCROLBAR ******** */

.df-titlebar-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.df-titlebar-btn-close:hover {
  background: #dc3545;
}
/* width */
::-webkit-scrollbar {
  width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  opacity: 0.1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
